@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.focus\:ring-4:focus {
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

main {
  margin-top: 6rem /* 70.4px */;
}

section {
  padding: 20px 0;
}

input::placeholder,
input:focus,
input:disabled {
  font-family: "Roboto", sans-serif !important;
}

.rhap_progress-filled {
  left: 0 !important;
  direction: rtl;
}
.rhap_volume-container {
  flex-direction: row-reverse;
  direction: rtl;
}
.rhap_progress-section {
  flex-direction: row-reverse;
  direction: rtl;
}

.rhap_main-controls {
  flex-direction: row-reverse;
  direction: rtl;
}

.rhap_container {
  background: rgb(82, 90, 102) !important;
  border-radius: 2px;
}

.rhap_time {
  color: white !important;
}
