@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.focus\:ring-4:focus {
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.children {
  min-height: calc(100vh - 330px);
}

section {
  margin: 10px 0;
}

input::placeholder,
input:focus,
input:disabled {
  font-family: "Public Sans", sans-serif !important;
}

.rhap_progress-filled {
  left: 0 !important;
  direction: rtl;
}
.rhap_volume-container {
  flex-direction: row-reverse;
  direction: rtl;
}
.rhap_progress-section {
  flex-direction: row-reverse;
  direction: rtl;
}

.rhap_main-controls {
  flex-direction: row-reverse;
  direction: rtl;
}

.rhap_container {
  border-radius: 2px;
  @apply bg-slate-100 dark:bg-slate-600 shadow-none !important;
}

.rhap_time {
  @apply text-gray-900 dark:text-white;
}

.no-overflow-style::-webkit-scrollbar {
  display: none;
}

.no-overflow-style {
  scrollbar-width: none;
}

ul.slick-dots > li > button::before {
  color: orange !important;
}

.rhap_button-clear {
  @apply bg-gray-900 dark:text-white;
}

.rhap_progress-filled,
.rhap_progress-indicator,
.rhap_volume-indicator {
  @apply bg-gray-400 dark:bg-white !important;
}
.rhap_time {
  @apply font-english;
}

.rhap_progress-bar,
.rhap_download-progress {
  @apply bg-gray-300 dark:bg-gray-400 !important;
}
